name: ci

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]

jobs: 
  build-and-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install deps
        run: npm ci

      - name: Generate prisma
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: npx prisma generate
      
      - name: Lint
        run: npm run lint:check -- --max-warnings=0

      - name: Build
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: docker build -f Dockerfile.development -t backend ./ --build-arg DATABASE_URL="$DATABASE_URL"


      




